
.jBox-Notice {
    transition: margin .2s;
}

.jBox-Notice .jBox-container {
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, .25), inset -1px -1px 0 0 rgba(0, 0, 0, .1);
}

.jBox-Notice .jBox-content {
    border-radius: 3px;
    padding: 12px 20px;
}

.jBox-Notice .jBox-title {
    padding: 12px 20px 0;
    font-weight: bold;
}

.jBox-hasTitle.jBox-Notice .jBox-content {
    padding-top: 5px;
}

.jBox-Notice-black .jBox-container {
    color: #fff;
    background: #000;
}

.jBox-Notice-gray .jBox-container {
    color: #333;
    background: #f6f6f6;
}

.jBox-Notice-red .jBox-container {
    color: #fff;
    background: #d00;
}

.jBox-Notice-green .jBox-container {
    color: #fff;
    background: #54cb00;
}

.jBox-Notice-blue .jBox-container {
    color: #fff;
    background: #07d;
}

.jBox-Notice-yellow .jBox-container {
    color: #000;
    background: #fd0;
}

@media (max-width: 768px) {

    .jBox-Notice .jBox-content {
        padding: 10px 15px;
    }

    .jBox-Notice .jBox-title {
        padding: 10px 15px 0;
    }

}

@media (max-width: 500px) {

    .jBox-Notice .jBox-content {
        padding: 8px 10px;
    }

    .jBox-Notice .jBox-title {
        padding: 8px 10px 0;
    }

    .jBox-hasTitle.jBox-Notice .jBox-content {
        padding-top: 0;
    }
}