.fon {
  content: "";
  background-image: url("/img/fon.jpg");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.w25 {
  width: 25%;
}

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}

.p-l-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.-m-b-10 {
  margin-bottom: -10px;
}

.-m-l-10 {
  margin-left: -10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.w-1500 {
  width: 1500px !important;
}

.divider {
  height: 1px;
  background-color: #aaa;
  margin: 3px 0;
}

.pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.main-header {
  height: 70px;
  text-align: center;
  width: 100%;
  background: linear-gradient(45grad, #bdbdbd, #000000 40%, #000000 60%, #bdbdbd 95%);
}

.main-header-video {
  height: 100%;
  max-height: 100%;
}

.sidebar {
  border: 1px solid red;
}

.cloud {
  width: 30px;
  height: 30px;
}

.small-info {
  font-size: 11px;
  color: #ccc;
}

.files {
  display: flex;
  flex-direction: row;

}

.file {
  border: 1px solid #cecece;
  padding: 3px;
  border-radius: 5px;
  margin: 3px 5px;
}

.criterion-table th {
  width: 30%;
}

.criterion-table .note,
.criterion-table .description {
  padding: 0 !important;
}

.criterion-table .note .form-group,
.criterion-table .description .form-group {
  margin: 0 !important;
}

.criterion-table .note textarea,
.criterion-table .description textarea {
  border-radius: 0;
  background: transparent;
  border: none;
  resize: none;
}

.criterion-table .help-block {
  margin: 0;
}

.criterion-table th:first-child {
  width: 5%;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 1170px;
  }
}

.mg-auto {
  margin: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 10px;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.card-header {
  display: flex;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 170px;
  align-items: center;
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.group-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

.group-btn a {
  width: 80%;
  margin-top: 3px;
}

.font-card {
  text-align: center;
}

.color-nav {
  background: #ffffff;
}

.color-nav ul li a {
  color: #333;
}

.nav .color-logo {
  color: #333;
}

.nav li {
  display: flex;
  align-items: center;
}

.bg-white {
  background-color: #fff;
}

.bg-c-o {
  background-color: rgba(0, 0, 0, 0.2);
}

.filter-search {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 2px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 15px;
}

.col-width-50 > tbody > tr > th {
  width: 50%;
}

.col-width-33 > thead > tr > th {
  width: 33%;
}

.text-small-info {
  font-size: 11px;
  color: #6A6A6A;
}

.c-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.c-nav > li {
  position: relative;
  display: block;
}

.c-nav.nav-tabs {
  display: flex;
}

.c-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.m-row {
  margin-bottom: 15px;
}

.dynagrid-buttons {
  display: flex;
}

.dynagrid-buttons .form-group {
  margin-bottom: 0;
}

.picture-size-big {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  padding: inherit;
}

.display-flex {
  border: outset;
}

.statistic-panel-3 {
  min-height: 90px;
  display: flex;
  padding: 2px;
  justify-content: center;
  font-size: 14px;
}

.statistic-panel {
  display: flex;
}

.items-center {
  padding: 5px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-blue {
  background-color: rgba(124, 181, 236, 1);
}

.color-dark-blue {
  background-color: rgba(128, 133, 233, 1) !important;
}

.color-light-blue {
  background-color: rgb(218, 219, 245) !important;
}

.color-green {
  background-color: rgba(144, 237, 125, 1);
}

.color-light-green {
  background-color: rgb(219, 248, 214) !important;
}

.color-dark-green {
  background-color: rgba(43, 144, 143, 1);
}

.color-orange {
  background-color: rgba(247, 163, 92, 1);
}

.color-dark-orange {
  background-color: rgba(228, 211, 84, 1);
}

.text-color-light {
  color: #aaaaaa;
}

.color-light-red {
  background-color: rgb(255, 238, 238) !important;
}

.container-statistic-panel {
  display: flex;
  flex-wrap: wrap;
}

.statistic-from-bd {
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.resize-both {
  resize: vertical;
}

.search-heading {
  cursor: pointer;
}

.label-extend {
  font-size: 11px;
  color: gray;
  cursor: pointer;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}

.calendar-wrapper .day {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  margin-top: 10px;
}

.calendar-wrapper .day.border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.calendar-wrapper .day.white {
  background-color: #fff;
}

.calendar-wrapper .day .header {
  display: flex;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  align-items: center;
  justify-content: space-between;
}

.calendar-wrapper .day .body {
  padding: 10px;
  font-size: 12px;
}

.calendar-wrapper .day .body p {
  margin: 0;
}

.calendar-wrapper .day .body .ol {
  padding-left: 20px;
  margin-bottom: 0;
}

.calendar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calendar-wrapper .day {
  width: 14%;
}

.events .delete-event {
  display: none;
}

.events li:hover .delete-event {
  display: inline-block;
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
  height: 550px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
  border-radius: 3px;
  overflow: scroll;
  outline: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------------*/
